.App {
    font-family: monospace;
    background: rgb(227,255,227);
}

.d-flex {
    display: flex;
}
.sp-btw {
    justify-content: space-between;
}
.js-center {
    justify-content: center;
}


.w100 {
    width: 100%;
}
.p10 {
    padding: 10px;
}
.p30 {
    padding: 30px;
}

.countryComp div {
    font-size: 20px;
    background: rgb(204,255,204);
    color: rgb(103, 110, 103);
}
.pgnBtn {
    height: 30px;
    width: 30px;
    background: #3cc43c;
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: wheat;
}